
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    >
    <!--
        This manifest is for the shared KMM library's Android target.
        It's usually minimal. The <queries> element related to app visibility
        should go into the final androidApp's manifest.
    -->
    <!-- You might declare library-specific components here if needed -->

    <queries>
        <package android:name="com.ykb.bankylite" />
        <package android:name="com.bankylite.commercial" />
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="application/pdf" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/pdf" />
        </intent>
    </queries>

    <application>
        <activity android:name="com.superstore.bas_pay.BasActivity"
            android:exported="false"
            android:theme="@style/BasPayTransparentActivityTheme" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.baspay.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bas_pay_file_paths" />
        </provider>
    </application>
</manifest>